#title{
    position: sticky;
    top: 4em;
    background-color: white;
    padding-left: 2em;
    z-index: 1;
    }
    .headtitle{
        font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    }
    .subtitle{
        font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #A6A6A6;
    }