#pg1{
    min-height: 100%;
    position: relative;
}
#quotes{
    position: relative;
    padding: 50px;
    margin: 0px 34px;
    background-color: #f5f5f5;
    font-family: Poppins;
    font-size: 1.3126em;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1em;
    text-align: left;
}
#quotes span{
    font-size: 25px;
}
.cont{
    position: relative;
    display: flex;
    margin: 20px 34px;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}
.cont .wrt-cont{
    margin: auto 0px;
    text-align: left;  
}
.ques{
    font-family: Poppins;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.1em;
}
.res{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2em;
}
.cirr{
    position: absolute;
    background-color: #f5f5f5;;
height: 60vh;
width: 60vh;
bottom: 0;
right: 0;
border-radius:100% 0% 100% 0% / 100% 100% 0% 0% ;
z-index: -1;
}

#pg2{
    position: relative;
    min-height: 100vh;
    background-image: url(./images/Bg_1.png);
    background-position: bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
#changingbox{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
}
.cgbx_1{
    height: 110px;
    width: 110px;
    background-color: white;
    border: 5px solid #4089F3;
    border-radius: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/eye.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cgbx_2{
    height: 110px;
    width: 110px;
    background-color: white;
    border: 5px solid #54E9E4;
    border-radius: 50%;
    transform: translateX(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/mission_icon.png);
    background-size:70px 45px;
    background-repeat: no-repeat;
    background-position: center;

}
.cgbx_2:hover{
    background-color: #54e9e4;
}

.cgbx_1:hover{
    background-color: #3795F5;
    background-image: url(./images/eye_white.png);
}

.pg2cir{
    height: 600px;
    width: 600px;
    background-image: url(./images/Ellipse\ 24.png);
    /* background-image: url(./images/vision.png); */
    /* background-image: url(./images/Mission.png); */
    background-position: center;
    background-size: cover;
}
.pg2innercir{
    position: absolute;
    height: 450px;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url('./images/cir_bg_1.png');
    background-size: cover;
    display: flex;
    align-items: center;
}
#incont{
    transform: translateX(30%);
    text-align: left;
}
#incont>div>img{
    height: 80px;
    position: relative;
}
#incont>span>p{
    padding: 0px 10px;
    font-family: Open Sans;
    position: relative;
    display: inline;
    font-size: 37px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
}
.fades{
    /* animation-delay: 2s; */
    animation-name: fade ;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    
}
@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.vis{
    position: absolute;
    height: 480px;
    width: 480px;
    background-color: #f5f5f5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.vis>h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;


}
#vmcont{
    width: 350px;
    height: 300px;
    position: absolute;
    bottom: 80px;
    font-size: 14px;
    font-family: Open Sans;
font-weight: 400;

text-align: center;

}
#pg3{
    position: relative;
    height: auto;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    padding: 8% 0px;
}
#pg3q{
    display: flex;
    flex-direction: row;
    /* margin-left: 50px; */
}
#pg3q span{
    padding: 20px;
    
   }
   #pg3q #s1{
    height: 56px;
    width: 52px;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color:#418EF2;
}
#pg3q #s2{
    font-family: Poppins;
    font-size: 37px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

}
#pg3cont{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
}
#pg3cont > #wrt{
    /* width: 725px; */
    min-height: 273px;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    }
    #pg3cont > #wrt > span{
  
        margin:0px 45px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    
    }
    #pic{
        display: flex;
        flex-direction: row;
        position: relative;
    }
    #pic>#pic_1{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #f5f5f5;
        height: 143px;
        width: 143px;
        border-radius: 50%;
        position: relative;
       margin: 0px 20px;
       margin-top: 24%;
    }
    #pic>#pic_1>span{
        height:89px;
        width: 96px;
        background-image: url(./images/junior_space_logo\(vert\).png);
        background-size: cover;
    }
    #pic>#pic_2{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #f5f5f5;
        height: 282px;
        width: 282px;
        border-radius: 50%;
        margin: 0px 20px;
    }
    
    #pic>#pic_2>span{   
        display: flex;
        height: 180px;
        width: 150px;
        background-image: url(./images/cybernaut_logo.png);
        background-size: cover;
    }
    #pic>#pic_3{
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #f5f5f5;
        height: 110px;
        width: 110px;
        border-radius: 50%;
    }
    #pic>#pic_3>span{   
        display: flex;
        height: 72px;
        width: 72px;
        background-image: url(./images/cybo_develop.png);
        background-size: cover;
    }
    #d1{
        display: flex;
        font-family: Poppins;
        font-size: 37px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: 0em;
        text-align: left;
    }
    #d1>div{
        display: flex;
        align-items: center;
}
    #d1>div>span{
        display: block;
        background-image: url(./images/vector\(hori\).png);
        background-size: cover;
        background-position: center;
        height: 15px;
        width: 100px;
    
    }
    #d2{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 20px;
    }
    .load_card{
        width: 330px;
        min-height: 574px;
        background: #F5F5F5;
        border-radius: 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
        }
.upper{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.load_circle{
    position: relative;
    height: 177px;
    width: 177px;
    background-color: #ffffff;
    border-radius: 50%;
    background: conic-gradient(from 180deg, #4089F3 3.6deg,white 0deg );
    display: flex;
    align-items: center;
    justify-content: center;
}
.val{
    position: absolute;
    font-family: Poppins;
    font-size: 37px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    /* text-align: left; */

}
.load_circle::before{
    height: 170px;
    width: 170px;
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
}
.lower{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    text-align: left;
}
.dp{
    display: block;
    height: 400px;
    width: 320px;
    color: #f5f5f5;
    background-color: gray;
}
.details >.name span{
    width: 50px;
    position: relative;
    display: inline-block;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,#3795F5 0.51%, #49E6E9 100%) 3;
}
.details >.name h1{
    font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48px;
letter-spacing: 0em;
text-align: left;

    display: inline;
    margin: 0px;
}
.details >.name p{
    font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

    display: inline;
    margin: 10px 0px;
}
.details >.name{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
.details > .discription{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #a6a6a6;
    margin: 20px 0px;
}
.details > #social{
    width: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.insta{
    height: 27px;
    width: 27px;
    display: block;
    background: url(./images/insta.png);
    background-size: cover;
}
.linkedin{
    height: 27px;
    width: 27px;
    display: block;
    background: url(./images/linkedin.png);
    background-size: cover;
}
.fb{
    height: 27px;
    width: 27px;
    display: block;
    background: url(./images/fb.png);
    background-size: cover;
}


#core_team{
    color: white;
    background-image: url('./images/core_team_bg.png');
    background-size: cover;

}
#team_head{
    display: flex;
    margin: 10px 5%;
    justify-content: space-between;

}
#team_head .right{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}
#team_head .right #movle{
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 20px;
}

#team_head .right #movle::after{
    height: 15px;
    width: 9px;
    content: "";
    position: absolute;
    background-image: url(./images/arr.png);
    background-size: cover;
}
#team_head .right #movri{
    position: relative;
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 0;

}
#team_head .right #movri::after{
    height: 15px;
    width: 9px;
    content: "";
    position: absolute;
    background-image: url(./images/arr.png);
    background-size: cover;
    transform: rotate(180deg);
}
#mem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    scroll-behavior: smooth;
    transition: all 2s;
    flex-wrap:nowrap;

}
.member{
    margin: 20px;
    text-align: left;
}
.member >.name span{
    width: 50px;
    position: relative;
    display: inline-block;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right,#3795F5 0.51%, #49E6E9 100%) 3;
}
.member >.name h1{
    display: inline;
    /* color: white; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}
#mem>.member >.name p{

    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    /* color: #a6a6a6; */
    margin: 0 0 0px 0;
}
#mem>.member img{
    transition: transform .2s;
}
#mem>.member img:hover{
    transform: scale(1.1);
}
#mem::-webkit-scrollbar{
    display: none;
}
#off_team{
    color: white;
    background-image: url('./images/off_team_bg.png');
    background-size: cover;
    color: black;
}